html {
    box-sizing: border-box;
}

*,  ::after, ::before {
    box-sizing: inherit;
}

body {
    background-image: url("../images/moreMoney.png");
    background-size: cover;
    font-family: "Gowun Dodum";
}